In [16]:
import pandas as pd

In [17]:
df = pd.read_csv('data/Iris.csv')
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [18]:
df = df.iloc[:,1:]
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [19]:
from sklearn.preprocessing import LabelEncoder
LB = LabelEncoder()
df['Species'] = LB.fit_transform(df['Species'])
df

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0              5.1           3.5            1.4           0.2        0
1              4.9           3.0            1.4           0.2        0
2              4.7           3.2            1.3           0.2        0
3              4.6           3.1            1.5           0.2        0
4              5.0           3.6            1.4           0.2        0
..             ...           ...            ...           ...      ...
145            6.7           3.0            5.2           2.3        2
146            6.3           2.5            5.0           1.9        2
147            6.5           3.0            5.2           2.0        2
148            6.2           3.4            5.4           2.3        2
149            5.9           3.0            5.1           1.8        2

[150 rows x 5 columns]

In [20]:
# import seaborn as sns
# sns.pairplot(df, hue= 'Species')

In [26]:
df = df[df['Species'] != 0][['SepalLengthCm', 'SepalWidthCm', 'Species']]
df

     SepalLengthCm  SepalWidthCm  Species
50             7.0           3.2        1
51             6.4           3.2        1
52             6.9           3.1        1
53             5.5           2.3        1
54             6.5           2.8        1
..             ...           ...      ...
145            6.7           3.0        2
146            6.3           2.5        2
147            6.5           3.0        2
148            6.2           3.4        2
149            5.9           3.0        2

[100 rows x 3 columns]

In [28]:
x = df.iloc[:,0:2]
y = df.iloc[:,-1]
y

50     1
51     1
52     1
53     1
54     1
      ..
145    2
146    2
147    2
148    2
149    2
Name: Species, Length: 100, dtype: int64

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
import numpy as np

In [30]:
c1 = LogisticRegression()
c2 = KNeighborsClassifier()
c3 = RandomForestClassifier()

In [31]:
estimators = [('lr', c1), ('kn', c2), ('rf', c3)] #list of tuples having algorithm ka naam and object of that algo

In [32]:
for name, model in estimators:
    scores = cross_val_score(model,x,y,cv=10, scoring= 'accuracy')
    print(name , np.round(np.mean(scores), 2))

lr 0.75
kn 0.62
rf 0.59

## Approach 1:

Hard Voting

In [33]:
from sklearn.ensemble import VotingClassifier
vc = VotingClassifier(estimators= estimators, voting= 'hard')
score = cross_val_score(vc, x, y, cv= 10, scoring= 'accuracy')
print(np.round(np.mean(score), 2))

0.67

Soft Voting

In [34]:
vc = VotingClassifier(estimators= estimators, voting= 'soft')
score = cross_val_score(vc, x, y, cv= 10, scoring= 'accuracy')
print(np.round(np.mean(score), 2))

0.64

Weighted Voting

In [36]:
for i in range(1,4):
    for j in range(1,4):
        for k in range(1,4):
            vc = VotingClassifier(estimators= estimators, voting= 'soft', weights= [i,j,k])
            score = cross_val_score(vc, x, y, cv= 10, scoring= 'accuracy')
            print('for i={}, j={}, k={}'.format(i,j,k), np.round(np.mean(score), 2))

for i=1, j=1, k=1 0.66
for i=1, j=1, k=2 0.65
for i=1, j=1, k=3 0.59
for i=1, j=2, k=1 0.64
for i=1, j=2, k=2 0.63
for i=1, j=2, k=3 0.64
for i=1, j=3, k=1 0.65
for i=1, j=3, k=2 0.64
for i=1, j=3, k=3 0.63
for i=2, j=1, k=1 0.67
for i=2, j=1, k=2 0.67
for i=2, j=1, k=3 0.62
for i=2, j=2, k=1 0.67
for i=2, j=2, k=2 0.65
for i=2, j=2, k=3 0.64
for i=2, j=3, k=1 0.67
for i=2, j=3, k=2 0.66
for i=2, j=3, k=3 0.65
for i=3, j=1, k=1 0.7
for i=3, j=1, k=2 0.68
for i=3, j=1, k=3 0.63
for i=3, j=2, k=1 0.69
for i=3, j=2, k=2 0.67
for i=3, j=2, k=3 0.65
for i=3, j=3, k=1 0.69
for i=3, j=3, k=2 0.65
for i=3, j=3, k=3 0.64

## Approach 2: Classifiers of same Algo

In [37]:
from sklearn.svm import SVC
from sklearn.datasets import make_classification
X, Y = make_classification(n_samples= 1000, n_features= 20, n_informative= 15, n_redundant= 5, random_state= 2)

svm1 = SVC(probability= True, kernel= 'poly', degree= 1)
svm2 = SVC(probability= True, kernel= 'poly', degree= 2)
svm3 = SVC(probability= True, kernel= 'poly', degree= 3)
svm4 = SVC(probability= True, kernel= 'poly', degree= 4)

estimators = [('svm1', svm1), ('svm2', svm2), ('svm3', svm3), ('svm4', svm4)]

for est in estimators:
    score = cross_val_score(est[1], x, y, cv= 10, scoring= 'accuracy')
    print(est[0], np.round(np.mean(score), 2))

svm1 0.72
svm2 0.72
svm3 0.71
svm4 0.69

In [38]:
vc1 = VotingClassifier(estimators= estimators, voting= 'soft')
score = cross_val_score(vc1, x, y, cv= 10, scoring= 'accuracy')
print(np.round(np.mean(score), 2))

0.72